.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #500000;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
}
.navbar li a {
  display: block;
  color: #aa0000;
  padding: 1.5dvw 1.5dvw;
  text-decoration: none;
  font-size: clamp(0.75rem, 1.25vw, 1.5rem);
}
.navbar li a:hover {
  background-color: #800000;
  color: #bf0000;
}
#logolarge {
height:35dvw;
width:75dvw;
text-align:center;
display:block;
margin:auto;
margin-top:2dvw;
}
body {
margin: 0;
background-color: #000000;
}
.divider {
margin-left:auto;
margin-right:auto;
margin-top:4dvw;
margin-bottom:4dvw;
display:block;
height: 5,625dvw;
width:90dvw;
}
.text {
  width: 85dvw;
  margin: 0 auto;
  color: #aa0000;
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.2;
}
figcaption.text {
  width: clamp(10dvw, calc((25dvw + 25dvh) / 2), 25dvw);
  margin: 0 auto;
  color: #bf0000;
  font-size: clamp(0.75rem, 1.25vw, 1.5rem);
  line-height: 1.2;
}
#sec2 {
justify-content: space-evenly;
width:100%;
display:flex;
}
.imagesec1 {
height: clamp(10dvw, calc((25dvw + 25dvh) / 2), 25dvw);
width: clamp(10dvw, calc((25dvw + 25dvh) / 2), 25dvw);
float:left;
margin-left: 7.5dvw;
}
.imagesec2 {
height: clamp(10dvw, calc((25dvw + 25dvh) / 2), 25dvw);
width: clamp(10dvw, calc((25dvw + 25dvh) / 2), 25dvw);
border-radius: 1.5dvw;
}
figure {
margin: 1dvw;
background-color: #550000;
padding: 2dvw;
border-radius: 1dvw;
outline-color: #400000;
outline-width: 1dvw;
outline-style: solid;
}
figure:hover {
transform: scale(1.1);
}
a {color: #00aa00;
text-decoration: none;}
a:hover {
    color: #00ff00;text-decoration: underline;
}
#sec3 {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sec3box {
margin: 4dvw auto;
padding: 2dvw;
outline-color: #400000;
outline-width: 1dvw;
border-radius: 1dvw;
outline-style: solid;
color: #bf0000;
background-color: #550000;
font-size: clamp(0.75rem, 1.25vw, 1.5rem);
line-height: 1.2;
width: 80dvw;
min-height: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
}
.image1sec3 {
height: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
width: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
border-radius: 1.5dvw;
float: left;
}
.image2sec3 {
height: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
width: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
border-radius: 1.5dvw;
float: right;
}
.image3sec3 {
height: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
width: clamp(7.5dvw, calc((20dvw + 20dvh) / 2), 20dvw);
border-radius: 1.5dvw;
float: left;
}